<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %> 
      		<a href="http://hexo.io/" target="_blank">Hexo</a>  Theme <a href="https://github.com/litten/hexo-theme-yilia" target="_blank">Yilia</a> by Litten
    	</div>
        <div style="position:absolute;left:0px;right:0px;height:15px;line-height:15px;top:50%;margin-top:-7.5px;">
            <p>Hosted by <a href="https://pages.coding.me" style="font-weight: bold" target="_blank">Coding Pages</a></p>
        </div>
      	<div class="footer-right">
            <script async src="//dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>
            <span id="busuanzi_container_site_uv">已留下 <span id="busuanzi_value_site_uv" style="font-weight:bold; color:#FF9900; "></span> 位小伙伴的足迹</span>
      	</div>
    </div>
  </div>
</footer>
